@import url("https://fonts.googleapis.com/css2?family=Jim+Nightshade&display=swap");

.navbar {
   background: #F9E0AE;
   padding: 10px 40px;
   color: #000;
   height: 12vh;
}

.navbar .nav-item-list {
   display: flex;
   gap: 40px;
   text-align: center;
   justify-content: center;
}

.logo {
   font-size: 40px;
   font-family: 'Jim Nightshade';
}

button a {
   color: #fff;
}

.nav-item-list li:hover {
   text-decoration: underline;
   cursor: pointer;
}

.toggle {
   display: none;
   color: #C24914;
}

button {
   background: #C24914;
   border-radius: 3px;
   color: #fff;
   margin: 10px;
}

button li {
   list-style: none;
   padding: 10px 20px;
}

button a {
   display: inline-block;
  padding: 10px 20px;
  
}

.dropdown-menu {
   display: flex;
   flex-direction: column;
   position: absolute;
   background: #F9E0AE;
   padding: 10px;
   border-radius: 5px;
   z-index: 1000002;
 }
 
 .dropdown-menu a {
   color: #C24914;
   padding: 5px;
   text-decoration: none;
   border-bottom: 1px solid #fff;
 }
 
 .dropdown-menu a:hover {
   background-color: #fff;
 }
 .dropdown-menu .bg-white{
   background-color: #fff;
 }


@keyframes navSlidercome {
   0% {
       width: 0;
   }
   100% {
       width: 180px;
   }
}

@media only screen and (max-width: 728px) {
   ul a {
      color: white;
   }

   .navbar .flex{
      display: none;
   }

   .nav-item-list-toggle {
       display: flex;
       flex-direction: column;
       background: rgb(53, 47, 47);
       position: absolute;
       right: 0;
       top: 12vh;
       width: 180px;
       height: 88vh;
       justify-content: initial;
       padding-top: 40px;
       gap: 40px;
       text-align: center;
       animation: navSlidercome 0.6s;
       z-index: 1000;
       overflow: scroll;
       color: white;
   }

   .toggle {
       display: block;
       color: #C24914;
       background: none;
   }

   .dropdown-menu{
      width: 180px;
   }
   .dropdown-menu a{
      color: #C24914;
   }
}

